### 1) Write a program to print the maximum between two numbers. (one-line conditional statement)

In [3]:
num1 = float(input('Enter any number: '))
num2 = float(input('Enter another number: '))
print('The maximum number is: ', num2) if num2>=num1 else print('The maximum number is: ', num1)

Enter any number: 7
Enter another number: 1
The maximum number is:  7.0

### 2) Write a program to find the maximum between three numbers.

In [10]:
num1 = 10
num2 = 7
num3 = 5
print(num1) if num1>num2 and num1>num3 else print(num2) if num2>num3 else print(num3)

10

### 3) Write a program to check whether a number is negative, or positive (one-line conditional statement)

In [13]:
x = -10
print('Positive') if x == abs(x) else print('Negative')

Negative

### 4) Write a  program to check whether a number is even or odd  (one-line statement).

In [16]:
x = 4
print('Even number') if x%2 == 0 else print('Odd number')

Even number

### 5) Write a  program to check whether a year is a leap year or not. (one-line conditional statement).

#### "In 1582, Pope Gregory XIII adopted the Gregorian calendar, which we now use, and specified that all years that can be divided by four are leap years, with the exception of century years, which would have to be divisible by 400 to be considered leap years â€” so while 2000 was a leap year, 2100 and 2200 will not be."

Century year is a year devisable by 100

###### a year is leap year if it is devisible by 4 AND not devisible by 100, or if it is devisible by 100 it has to be devisible by 400 also

In [56]:
test_year = 2024

In [57]:
if test_year%100 == 0:
    if test_year%400 == 0:
        print(f"The year {test_year} is a Leap year")
    else:
        print(f"The year {test_year} is not a Leap year")
elif test_year%4 == 0:
    print(f"The year {test_year} is a Leap year")
else:
    print(f"The year {test_year} is not a Leap year")

The year 2024 is a Leap year

### 6) Write a  program to store the weekdays in a list and access the week day and print it by index.

In [62]:
weekdays = ['Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednsday', 'Thursday', 'Friday']
# Saturday is day 1
# Friday is day 7

day = weekdays[int(input('Choose the week day you want to print (1 --> 7): ')) - 1]
print(day)

Choose the week day you want to print (1 --> 7): 7
Friday

### 7) Write a  program to print all alphabets from a to z using while loop

In [70]:
alphabets = list(map(chr, range(97, 123)))
i = 0
while i < 26:
    print(alphabets[i])
    i += 1

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

### 8)Write a program to store numbers in the List and print its reverse

In [78]:
lst = [1,2,3,5,99,60,100]
lst.reverse()
print(lst)

[100, 60, 99, 5, 3, 2, 1]

### 9) Write a program to print the multiplcation table of any number

In [79]:
num = int(input("Enter an integer number: "))
print(f"The Multiplication table of {num}:")
for i in range(1,11):
    print (num * i)

Enter an integer number: 3
The Multiplication table of 3:
3
6
9
12
15
18
21
24
27
30

### 10)Write a program to print all even numbers between 1 to 100.(using while loop)

In [80]:
i = 1
while i <= 100:
    if i%2 == 0:
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100