# Python program to interchange first and last elements in a list

- Examples

- Input : [12, 35, 9, 56, 24]
- Output : [24, 35, 9, 56, 12]

- Input : [1, 2, 3]
- Output : [3, 2, 1]

In [5]:
inpt_list = [12,35,9,56,24]
print("The input list is: ",inpt_list)
outpt_list = inpt_list.copy()
outpt_list[0] = inpt_list[-1]
outpt_list[-1] = inpt_list[0]
print("The output list is: ",outpt_list)

The input list is:  [12, 35, 9, 56, 24]
The output list is:  [24, 35, 9, 56, 12]

In [7]:
inpt_list = [1,2,3]
print("The input list is: ",inpt_list)
outpt_list = inpt_list.copy()
outpt_list[0] = inpt_list[-1]
outpt_list[-1] = inpt_list[0]
print("The output list is: ",outpt_list)

The input list is:  [1, 2, 3]
The output list is:  [3, 2, 1]

### Find the Length of a List in Python

- Input: lst = [10,20,30,40]
- Output: 4
- Explanation: The output is 4 because thelength of the list is  4.

In [12]:
lst = [10,20,30,40]
print(len(lst))

4

### Python | Find elements of a list by indices
- Input : lst1 = [10, 20, 30, 40, 50]
-        lst2 = [0, 2, 4]
- Output : [10, 30, 50]

In [19]:
lst1=[10,20,30,40,50]
lst2=[0,2,4]
print(list(map(lst1.__getitem__, lst2)))

[10, 30, 50]

# Python program to find the String in a List

- Input: l=[1, 1.0, 'have', 'a', 'geeky', 'day']; s='geeky'
- Output: True
- Explanation: geeky is present in the input list

In [22]:
l1=[1, 1.0, 'have', 'a', 'geeky', 'day']
print('geeky' in l1)

True



```
#  hint you can use in
```

- The in keyword is used to check if a value is present in a sequence (list, range, string etc.).

In [23]:
fruits = ["apple", "banana", "cherry"]
print("banana" in fruits)

True

## Ways to find indices of value in list


- list of animals
- Animals= ["cat", "dog", "tiger"]
- searching positiion of dog
- output is 1

In [24]:
animals= ["cat", "dog", "tiger"]
animals.index('dog')

1

### Find most frequent element in a list
- Input : [2, 1, 2, 2, 1, 3]
- Output : 2

- Input : ['Dog', 'Cat', 'Dog']
- Output : Dog

In [28]:
lst1= [2, 1, 2, 2, 1, 3]
lst2= ['Dog', 'Cat', 'Dog']

print(max(lst1,key=lst1.count))
print(max(lst2,key=lst2.count))

2
Dog

- hint you can use max in python

## Remove an Item from the List in Python.
- Input: ['Rose',' Lily', 'Lotus', 'Sun', 'Sunflower']
- Delete: 'Sun'
- Output: ['Rose',' Lily', 'Lotus', 'Sunflower']
- Explanation: In this, we have removed the 'Sun' element from the given list

In [33]:
lst = ['Rose',' Lily', 'Lotus', 'Sun', 'Sunflower']
print('Deleted item: ',lst.pop(lst.index('Sun')))
print('New list: ',lst)

Deleted item:  Sun
New list:  ['Rose', ' Lily', 'Lotus', 'Sunflower']

# Remove multiple elements from a list in Python
- Input: [12, 15, 3, 10]
- Output: Remove = [12, 3], New_List = [15, 10]

- Input: [11, 5, 17, 18, 23, 50]
- Output: Remove = [1:5], New_list = [11, 50]

In [50]:
lst1 = [12, 15, 3, 10]
for i in [12,3]:
    lst1.pop(lst1.index(i))

print(lst1)

[15, 10]

In [51]:
lst2 = [11, 5, 17, 18, 23, 50]
dummy = lst2.copy()

for i in range(1,5):
    lst2.pop(lst2.index(dummy[i]))
    
print(lst2)

[11, 50]

# python program to check whether the string is Palindrome  and get the str from user

- Input : malayalam
- Output : True

- Input : geeks
- Output : False

In [62]:
txt1 = 'malayalam'
txt1 == ''.join(list(reversed(list(txt1))))

['m', 'a', 'l', 'a', 'y', 'a', 'l', 'a', 'm']
['m', 'a', 'l', 'a', 'y', 'a', 'l', 'a', 'm']

True

In [63]:
txt2 = 'geeks'
txt2 == ''.join(list(reversed(list(txt1))))

False

### Reverse Words in a Given String in Python
- Input : str =" geeks quiz practice code"
- Output : str = code practice quiz geeks  
- Input : str = "my name is laxmi"
- output : str= laxmi is name my

In [69]:
inpt_txt1 = "geeks quiz practice code"
' '.join(list(reversed(inpt_txt1.split())))

'code practice quiz geeks'

In [70]:
inpt_txt2 = "my name is laxmi"
' '.join(list(reversed(inpt_txt2.split())))

'laxmi is name my'

### Find length of a string in python
- Input : 'abc'
- Output : 3

- Input : 'hello world !'
- Output : 13

- Input : ' h e l   l  o '
- Output :14

In [71]:
txt = 'abc'
print(len(txt))

3

In [72]:
txt = 'hello world !'
print(len(txt))

13

In [76]:
txt = '   h e l l o  '
print(len(txt))

14

###  Avoid Spaces in string length


```
- string = "Hello, world!  "
- with space 15
- without space is 12
```

In [80]:
txt = "Hello, world!  "
print('With space: ', len(txt))
print('Without space: ', len(txt.replace(" ", "")))

With space:  15
Without space:  12

-  hint you can use len in python to get len of str or list

# Smallest Length String in the list
- test_list = ['gfg', 'is', 'best', 'for', 'geeks']
- Minimum length string is : is

In [89]:
test_list = ['gfg', 'is', 'best', 'for', 'geeks']
print('Minimum length string is: ', min(test_list,key=len))

Minimum length string is:  is

-  hint you can use min in python