#### Multiply 10 with 5, and print the result.

In [1]:
print(10*5)

50

### Divide 10 by 2, and print the result.

In [2]:
print(10/2)

5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [20]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']

In [21]:
'apple' in fruits

True

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [22]:
5!=10

True

### Use the correct logical operator to check if at least one of two statements is `True`.

In [23]:
True or False

True

### Print the second item in the fruits list.

In [24]:
print(fruits[1])

cherry

### Change the value from "apple" to "kiwi", in the fruits list.

In [25]:
print(fruits)
fruits[fruits.index('apple')] = 'kiwi'
print(fruits)

['apple', 'cherry', 'bannana', 'watermelon']
['kiwi', 'cherry', 'bannana', 'watermelon']

### Use the append method to add "orange" to the fruits list.

In [26]:
fruits.append('orange')
print(fruits)

['kiwi', 'cherry', 'bannana', 'watermelon', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [27]:
fruits.insert(1, 'lemon')
print(fruits)

['kiwi', 'lemon', 'cherry', 'bannana', 'watermelon', 'orange']

### Use the remove method to remove `"banana"` from the fruits list.

In [28]:
fruits.remove('bannana')
print(fruits)

['kiwi', 'lemon', 'cherry', 'watermelon', 'orange']

### Use negative indexing to print the last item in the list.

In [29]:
print(fruits[-1])

orange

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [31]:
print(fruits[2:5])

['cherry', 'watermelon', 'orange']

### Use the correct syntax to print the number of items in the list.

In [32]:
print(len(fruits))

5

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [34]:
numbers = [
386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527
]

In [35]:
for i in numbers:
    if i%2==0:
        print(i)
    if i==237:
        break

386
462
418
344
236
566
978
328
162
758
918

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [36]:
def area_of_triangle(b,h):
    return 0.5*b*h

In [37]:
area_of_triangle(20,5)

50.0

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [38]:
list_of_nums = []
for i in range(3):
    num = int(input("Enter a number: "))
    list_of_nums.append(num)
    
max_num = max(list_of_nums)
min_num = min(list_of_nums)
middle_num = sum(list_of_nums)-max_num-min_num

print(f'The Maximum number = {max_num}')
print(f'The Min number = {min_num}')
print(f'The Middle number = {middle_num}')

print("Numbers in sorted order: ", min_num, middle_num, max_num)

Enter a number: 3
Enter a number: 7
Enter a number: 8
The Maximum number = 8
The Min number = 3
The Middle number = 7
Numbers in sorted order:  3 7 8

In [39]:
# Get even numbers from list
nums_list = [1,2,3,4,5,6,7,8,9,10]

#even_nums = [new_item for item in list if test]
even_nums = [num for num in nums_list if num % 2 == 0]
print(even_nums)

[2, 4, 6, 8, 10]

### Sort three integers :using conditional statements

In [53]:
lst = []
for i in range(3):
    num = int(input("Enter a number: "))
    lst.append(num)

Enter a number: 9
Enter a number: 3
Enter a number: 7

In [54]:
min_ = lst[0]
mid_ = lst[0]
max_ = lst[0]
if lst[0] > lst[1] and lst[0] > lst[2]:
    #lst[0] is max
    
    if lst[1] > lst[2]:
        #lst[2] is min
        min_ = lst[2]
        mid_ = lst[1]
    else:
        #lst[1] is min
        min_ = lst[1]
        mid_ = lst[2]
        
    
    
elif lst[1] > lst[0] and lst[1] > lst[2]:
    #lst[1] is max
    max_ = lst[1]
    
    if lst[0] > lst[2]:
        #lst[2] is min
        min_ = lst[2]
        mid_ = lst[0]
    else:
        #lst[0] is min
        min_ = lst[0]
        mid_ = lst[2]



else:
    #lst[2] is max
    max_ = lst[2]
    
    if lst[0] > lst[1]:
        #lst[1] is min
        min_ = lst[1]
        mid_ = lst[0]
    else:
        #lst[0] is min
        min_ = lst[0]
        mid_ = lst[1]

print("Numbers in sorted order: ", min_, mid_, max_)

Numbers in sorted order:  3 7 9

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [55]:
def check_unique(lst):
    x=len(lst)
    y=len(set(lst))
    return x==y

In [58]:
lst = [2,4,5,7,9]

check_unique(lst)

True

In [59]:
lst = [2,4,5,5,7,9]

check_unique(lst)

False

#### Dictionary

In [60]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list(dict1.keys())

['a', 'b', 'c']

In [61]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.values())

[200, 300]

In [62]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.items())

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [64]:
inpt_dict = {'a': 100, 'b':200, 'c':300}
output = sum(inpt_dict.values())
print(output)

600

In [65]:
inpt_dict = {'x': 25, 'y':18, 'z':45}
output = sum(inpt_dict.values())
print(output)

88

In [67]:
print(sum([0,1,2,3,4,5]))
print(sum((0,1,2,3,4,5)))
print(sum({0,1,2,3,4,5}))
print(sum({5:5,10:11}))

15
15
15
15

### Python program to find the sum of all values in a dictionary

In [68]:
inpt_dict = {'a': 100, 'b':200, 'c':300}
output = sum(inpt_dict.values())
print(output)

600

### Filter the negative values from given dictionary

In [71]:
inpt_dict = {'a': 100, 'b':-200, 'c':300}
values_filtered = [i for i in inpt_dict.values() if i>=0]
print(values_filtered)

[100, 300]

### Test if all Values are Same in Dictionary

### test_dict = {"Gfg": 8, "is": 5, "Best": 5}
### False

In [72]:
test_dict = {"Gfg": 8, "is": 5, "Best": 5}

def check_unique(lst):
    x=len(lst)
    y=len(set(lst))
    return x==y
        
check_unique(test_dict.values())

False

# `any`

In [73]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [74]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

In [75]:
mydict = {0 : "Apple", 0 : True}
x = any(mydict)
print(x)

False

#### <font color='red'>Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.</font>

### Test if vlaue input  in dictionary value

In [78]:
test_dict = {'gfg': 1, 'is': 2, 'best': 3}
input_user = int(input("Enter the number: "))

list_1 = [True for value in test_dict.values() if input_user == value]
print(any(list_1))
print(list_1)

Enter the number: 9
False
[]

### Calculate the sum of all numbers from 0 to a given number

In [81]:
x = int(input('enter a number: '))
print(sum(range(x+1)))

enter a number: 4
10

### Find the factorial of a given number using while loop

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

In [82]:
result = 1
number = 5
while number >= 1:
    result = result * number
    number -= 1
    
print(result)

120

### Use a loop to display elements from a given list present at odd index positions

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

In [83]:
my_list = [10,20,30,40,50,60,70,80,90,100]

result = my_list[1::2]
print(result)

[20, 40, 60, 80, 100]

In [84]:
new_list = [num for num in my_list if my_list.index(num)%2 !=0]
print(new_list)

[20, 40, 60, 80, 100]

### Calculate the cube of all numbers from 1 to a given number

In [89]:
a = int(input('enter a number: '))
print(list(map(lambda x: x**3,(range(1,a+1)))))

enter a number: 3
[1, 8, 27]

### len of str in list
### ['apple', 'orange', 'cat']

In [90]:
l = ['apple', 'orange', 'cat']
print([ len(i) for i in l])

[5, 6, 3]

### program to count number of vowels using sets in given string

In [97]:
vowels = ['a','e','i','o','u']
string = input('enter a word: ')
    
print(len([1 for i in string if i in vowels]))

enter a word: ahmed
2


### Write a Python program to add an item to a tuple.

In [98]:
tuple1 = (1,3,5)
lst = list(tuple1)
lst.append(99)
print(tuple(lst))

(1, 3, 5, 99)

### Write a Python program to multiply all the items in a list.

In [99]:
lst = [1, 3, 5, 2]
product = 1
for i in lst:
    product = product * i

print(product)

30

### Write a Python program to get the smallest number from a list.

In [100]:
lst = [1, 3, 5,1,1000, 2]
min(lst)

1

### Write a Python program to get the largest number from a list.

In [101]:
lst = [1, 3, 5,1,1000, 2]
max(lst)

1000

### Write a Python program to clone or copy a list

In [102]:
lst1 = [1, 3, 5,1,1000, 2]
lst2 = lst1.copy()
print(lst2)

[1, 3, 5, 1, 1000, 2]

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [104]:
s = set([0, 1, 3, 4, 5])
s.discard(1)
print(s)

{0, 3, 4, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [105]:
set1 = {1,8,4,3,2,6}
print('Maximum number: ', max(set1))
print('Minimum number: ', min(set1))

Maximum number:  8
Minimum number:  1

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

enumerate() returns a value and its index in the itterable (value,index)

In [106]:

tuple_1 = ('name','age','city','city')
# values = (1,2,3,4)

dict1 = {k:v for v,k in enumerate(tuple_1)}

In [107]:
dict1

{'name': 0, 'age': 1, 'city': 3}

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [117]:
list1 = [(10,20,40),(40,50,60),(70,80,90)]

list2 = [tuple[:-1]+(100,) for tuple in list1]

print(list2)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [118]:
list1 = [(10,20,40),(40,50,60),(70,80,90)]

list2 = [(tuple[0],tuple[1], 100) for tuple in list1]

print(list2)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [119]:
list1 = [(10,20,40),(40,50,60),(70,80,90)]

list2 = [(x,y, 100) for x,y,z in list1]

print(list2)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]